@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
  overflow-x: hidden;
  background-color: black;
}

body.dark-mode {
  background-color: black; /* Черный фон для темной темы */
}

body.light-mode {
  background-color: #d9d9d9; /* Белый фон для светлой темы */
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Colors for billboards */
.bg-color-alatau-billboard {
  background-color: #d46a6e;
}
.bg-color-almalinsk-billboard {
  background-color: #fad577;
}
.bg-color-auezov-billboard {
  background-color: #f9fc74;
}
.bg-color-bostandyk-billboard {
  background-color: #89d563;
}
.bg-color-medeu-billboard {
  background-color: #71a2d6;
}
.bg-color-nauryzbay-billboard {
  background-color: #857efd;
}
.bg-color-turksib-billboard {
  background-color: #dd55d7;
}
.bg-color-zhetysu-billboard {
  background-color: #63dec7;
}

/* Colors for Calendar RENAME COLORS!*/
/* 
.bg-color-midnightCircle {
  background-color: #243253;
}
.bg-color-denimCircle {
  background-color: #2c3e63;
}
.bg-color-cobaltCircle {
  background-color: #364b77;
}
.bg-color-blueCircle {
  background-color: #45619b;
}
.bg-color-oceanCircle {
  background-color: #5174b9;
} */

.navBars-icon:hover path {
  stroke: #ffb13d; /* Цвет при наведении */
  transition: all 0ms ease-in-out;
}

.redTrash-icon:hover path {
  stroke: red;
  transition: all 0ms ease-in-out;
}

.imageCover {
  object-fit: cover; /* Ensures the image covers the available space */
  width: 100%; /* Fill the width */
  height: 100%; /* Fill the height */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
