@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #010714;
}

body {
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
  background-color: #010714;
  overflow-x: hidden;
}

/* Colors of District ads map */
.bg-color-alatau { background-color: #D46A6E; }
.bg-color-almalinsk { background-color: #FAD577; }
.bg-color-auezov { background-color: #F9FC74; }
.bg-color-bostandyk { background-color: #89D563; }
.bg-color-zhetysu { background-color: #FAD577; }
.bg-color-medeu { background-color: #71A2D6; }
.bg-color-nauryzbay { background-color: #857EFD; }
.bg-color-turksib { background-color: #DD55D7; }
.bg-color-zhetysu { background-color: #63DEC7; }
